*{
			margin: 0;
			padding: 0;
		}
		body{
			background-image: url("background_frame.jpg");
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			background-attachment: fixed;
		}
		.fixed{
			display: block;
			position: fixed;
			width: 100%;
			font-family: garamond;
			text-align: center;
		}

		.refer{
			position: fixed;
			width: 100%;
			text-align: center;
			bottom: 3%;
			margin-left: -10px;
		}

		ul li{
			font-family: garamond;
			display: inline;
		}

		#button{
			position: fixed;
			width: 100%;
			text-align: center;
			bottom: 27%;
		}
		#button:active{
			transform: scale(0.95);
		}

		#welcome:hover{
			box-shadow: 0 4px 8px 0 ; 
			transition-duration: 0.2s;
		}

		@media only screen and (max-width: 767px) {
			body{
			background-image: url("flower-decor.jpg");
			}
			#logo{
			position: fixed;
			border-radius: 20px;
			height: 12%;
			opacity: 0.7;
			margin-top: 10px;
			margin-left: -60px;
			}
			#image{
				width: 100%;
				padding-top: 3%;
				text-align: center;
			}			

			#top-message{
			font-family: garamond;
			font-size: 20px;
			position: fixed;
			text-align: center;
			width: 100%;
			bottom: 70%;
			}

			#oasis{
			font-size: 70px; 
			width: 100%;
			position: fixed;
			text-align: center;
			bottom: 55%;
			}

			#bottom-message{
			font-family: garamond;
			font-size: 20px;
			position: fixed;
			width: 100%;
			text-align: center;
			bottom: 50%;
			}

			.link{
			height: 40px;
			}

			#welcome{
			font-family: garamond;
			font-size: 20px;
			border-radius: 10px;
			box-shadow: 0 2px 5px 0;
			border-color: none;
			color: white;
			background: rgba(55, 55, 55,.5);

			padding: 5px 12px 5px 12px; 
			}

		}
		@media only screen and (min-width: 768px) {
			
			.link{
				bottom: 9%;
				height: 40px;
			}

			#welcome{
				font-family: garamond;
				font-size: 20px;
				border-radius: 10px;
				box-shadow: 0 2px 4px 0;
				border-color: none;
				color: black;
				background: none;
				padding: 4px 10px; 
			}
			#top-message{
				font-family: garamond;
				font-size: 1.3em;
				position: fixed;
				text-align: center;
				width: 100%;
				top: 32%;
			}

			#oasis{
				font-size: 4em; 
				width: 100%;
				position: fixed;
				text-align: center;
				bottom: 48%;
			}

			#bottom-message{
				font-family: garamond;
				font-size: 1.3em;
				position: fixed;
				width: 100%;
				text-align: center;
				bottom: 40%;
			}

			#logo{
			position: fixed;
			border-radius: 20px;
			height: 100px;
			opacity: 0.7;
			margin-top: 8px;
			margin-left: -65px;
			}
			#image{
				width: 100%;
				padding-top: 3%;
				text-align: center;
			}

		}


@media only screen and (min-width: 1100px) {
			
			.face{
				margin: 50px 10vw;
				display: flex;
				min-height: 150px;
				width: 150px;
				align-items: center;
				border-radius: 50%;
				box-sizing: border-box;
				background-color: #ffe800;
				box-shadow: 0 4px 2px 0;
				justify-content: center;
			}

			.face::before{
				content: '';
				position: absolute;
				top: 30vh;
				width: 70px;
				height: 33px;
				background: #b57700;
				border-radius: 0% 0% 45px 45px;
				transition: 0.1s;
			}

			.face:hover::before{
				top: 190px;
				width: 70px;
				height: 10px;
				background: #b57700;;
				border-radius: 0px;
			}

			.eyes{
				position: relative;
				top: -20px;
				display: flex;
			}

			.eyes .eye{
				position: relative;
				width: 40px;
				height: 40px;
				display: block;
				background: #fff;
				margin: 0px 8px;
				border-radius: 50%;
			}

			.eyes .eye::before{
				content: '';
				position: absolute;
				top: 50%;
				left: 15px;
				transform: translate(-50%,-50%);
				width: 20px;
				height: 20px;
				background: #333;
				border-radius: 50%; 
			}
		}